{% extends 'base.html.twig' %} {% block title %}Hello ContactController!{%
endblock %} {% form_theme form 'bootstrap_5_layout.html.twig' %} {% block body
%}
<div class="container">
  <div class="row">
    <div class="container text-center mt-5 col-5">
      <h2>Contact</h2>
      {{ form_start(form) }}

      {{ form_row(form.nom, {'attr': {'placeholder': "Votre nom"}}) }}
      {{ form_row(form.prenom, {'attr': {'placeholder': "Votre prenom"}}) }}
      {{ form_row(form.telephone, {'attr': {'placeholder': "Votre numéro de téléphone"

      }}) }}
      {{ form_row(form.email, {'attr': {'placeholder': "Votre adresse email"}})
      }} {{ form_row(form.contenu, {'attr': {'placeholder': "Votre message"}})
      }}

      <button class="btn btn-success" type="submit">Envoyer</button>
      {{ form_end(form) }}
    </div>
    <div class="container text-center mt-5 col-5">
      <h2>Prise de RDV</h2>
      <div id="calendrier"></div>
    </div>
  </div>
</div>
{% endblock %}
